@import "../../../../allstyles";

.close-button {
    cursor: pointer;
}

.fieldWidth {
    width: 392px;
    margin: 0px;
    padding-left: 28px;
}



// .module-divider {
//     margin-bottom: 15px !important;
// }