<div class="limiter">
  <div class="toolbar">
    <div fxFlex fxLayout fxLayoutAlign="start center">
      <div style="cursor: pointer">
        <img src="assets/img/Clock Health Logo.png" class="chc-logo" alt="" />
      </div>
    </div>
  </div>
  <div class="container-login100">
    <div class="wrap-login100">
      <!-- <img src="assets/img/careLogo.png" alt=""> -->
      <form
        [formGroup]="activationForm"
        class="login100-form validate-form p-l-55 p-r-55 p-t-60 p-b-55"
        autocomplete="disabled"
        (ngSubmit)="onSubmit()"
      >
        <div style="position: relative; bottom: 45px">
          <h3 class="card-title">Set Password</h3>
        </div>
        <!-- <div class="m-b-16 card-info">
          <p>
            Your new password must be different from previous
            <br />
            password.
          </p>
        </div> -->
        <div
          class="wrap-input100 validate-input m-b-10"
          data-validate="Please enter new password"
        >
          <mat-hint>New Password *</mat-hint>
          <div fxLayout="row">
            <input
              class="input100"
              [type]="newFieldTextType ? 'text' : 'password'"
              [autocomplete]="false"
              name="password"
              (keyup)="snackBarService.text_change($event, 'new')"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && fields.password?.errors }"
              minlength="8"
              maxlength="15"
            />
            <img
              [src]="newFieldTextType ? showEyeSrc : hideEyeSrc"
              class="eye-icon"
              (click)="toggleFieldTextType('new')"
              alt=""
            />
            <img
              src="assets/svg/DashboardIcons/Right Green Icon.svg"
              alt=""
              *ngIf="snackBarService.validRegex"
            />
            <img
              src="assets/svg/DashboardIcons/Cross Red Icon.svg"
              alt=""
              *ngIf="
                activationForm.get('password').value.length > 1 &&
                !snackBarService.validRegex
              "
            />
          </div>
          <mat-error
            *ngIf="
              !activationForm.controls['password'].valid &&
              activationForm.controls['password'].touched &&
              activationForm.controls['password'].hasError('required')
            "
            >New Password is required</mat-error
          >
          <mat-error
            *ngIf="
              !activationForm.controls['password'].valid &&
              activationForm.controls['password'].touched &&
              activationForm.controls['password'].hasError('minlength')
            "
            >Enter minimum 8 characters</mat-error
          >
        </div>

        <!-- <p class="form-labels">Password</p> -->
        <div
          class="wrap-input100 validate-input"
          data-validate="Please enter re-enter password"
        >
          <mat-hint>Confirm Password *</mat-hint>
          <div fxLayout="row">
            <input
              class="input100"
              [type]="reNewFieldTextType ? 'text' : 'password'"
              name="reNewPassword"
              [autocomplete]="false"
              (keyup)="snackBarService.text_change($event, 'reNew')"
              formControlName="repassword"
              [ngClass]="{
                'is-invalid': submitted && fields.repassword?.errors
              }"
              minlength="8"
              maxlength="15"
            />
            <img
              [src]="reNewFieldTextType ? showEyeSrc : hideEyeSrc"
              class="eye-icon"
              (click)="toggleFieldTextType('reNew')"
              alt=""
            />
            <img
              src="assets/svg/DashboardIcons/Right Green Icon.svg"
              alt=""
              *ngIf="snackBarService.validRegexRenew"
            />
            <img
              src="assets/svg/DashboardIcons/Cross Red Icon.svg"
              alt=""
              *ngIf="
                activationForm.get('repassword').value.length > 1 &&
                !snackBarService.validRegex
              "
            />
          </div>
          <mat-error
            *ngIf="
              !activationForm.controls['repassword'].valid &&
              activationForm.controls['repassword'].touched &&
              activationForm.controls['repassword'].hasError('required')
            "
            >Confirm password is required</mat-error
          >
          <mat-error
            *ngIf="
              !activationForm.controls['repassword'].valid &&
              activationForm.controls['repassword'].touched &&
              activationForm.controls['repassword'].hasError('minlength')
            "
            >Enter minimum 8 characters</mat-error
          >
        </div>
        <!-- <div class="wrap-input100 validate-input" data-validate="Please enter re-enter password">
          <mat-hint>Re-enter Password *</mat-hint>
          <div fxLayout="row">
            <input class="input100" [type]="reNewFieldTextType ? 'text' : 'password'" name="repassword"
              [autocomplete]="false" (keyup)="snackBarService.text_change($event, 'reNew')" formControlName="repassword"
              [ngClass]="{ 'is-invalid': submitted && fields.repassword.errors }" maxlength="15" />
            <img [src]="reNewFieldTextType ? showEyeSrc : hideEyeSrc" class="eye-ic"
              (click)="toggleFieldTextType('reNew')" alt="" />
            <img src="assets/svg/DashboardIcons/Right Green Icon.svg" alt="" *ngIf="snackBarService.validRegexRenew" />
            <img src="assets/svg/DashboardIcons/Cross Red Icon.svg" alt="" *ngIf="
              activationForm.get('repassword').value.length > 1 &&
              !snackBarService.validRegexRenew
            " />
          </div>
          <mat-error *ngIf="
          !activationForm.controls['repassword'].valid &&
          activationForm.controls['repassword'].touched
        ">
        Confirm password is required
      </mat-error>
        </div> -->

        <br />
        <br />
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" [disabled]="submitted">
            Set Password
          </button>
        </div>
        <div class="m-t-35">
          <div class="card-note">
            1. Password should be a mix of alphabets with a minimum of 1 upper
            case letter [A-Z],
            <div class="card-second-para">
              numericals and special characters (e.g.,!,@,#,$,%,^,&,*.) without
              any space in between.
            </div>
          </div>
          <p class="card-note">
            2. The password length should be minimum of 8 characters.
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="wrap-background-bottom"></div>
