<div class="limiter">
    <div class="toolbar">
      <div fxFlex fxLayout fxLayoutAlign="start center">
        <div style="cursor: pointer;">
          <img class="careLogo" src="assets/svg/DashboardIcons/Vizzy Outline Logo.svg" alt="chc">
        </div>
      </div>
    </div>
    <div class="container-login100">
      <div class="wrap-login100">

        <div class="p-l-55 p-r-55 p-t-80 p-b-55" fxLayout="column" fxLayoutAlign="space-arround center">
          <div class="m-b-40">
            <img src="assets/svg/DashboardIcons/User Activated.svg" alt="">
          </div>
          <div class="m-b-16 card-info">
            <p>
              Your account has been activated successfully.
            </p>
          </div>
          <div class="m-b-16 card-info" style="color: #5621f3; cursor: pointer;" (click)="goToLogin()">
            <p>
              Back to Login Page.
            </p>
          </div>
        </div>
        <div class="p-l-55 p-r-55 p-t-80 p-b-55" fxLayout="column" fxLayoutAlign="space-arround center">
            <div class="m-b-40">
              <img src="assets/svg/DashboardIcons/Link Expired.svg" alt="">
            </div>
            <div class="m-b-16 card-info">
              <p>
                Your activation link has expired. Please wait for 24 hours <br>
                or contact your administrator for activation.
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  