<span class="close-button" title="Close" (click)="dialogRef.close()">
  <img src="assets/svg/cancel.svg" alt="" />
</span>
<span mat-dialog-title class="module-form-title">Edit Device Type</span>
<mat-divider class="module-divider"></mat-divider>

<mat-card-content>
  <form
    [formGroup]="deviceTypeEditForm"
    (ngSubmit)="updateDeviceType(deviceTypeEditForm.value)"
    style="margin-top: 10px"
  >
    <mat-dialog-content [formGroup]="deviceTypeEditForm">
      <div class="form-div">
        <mat-form-field
          class="device-width"
          appearance="outline"
          class="fieldWidth"
        >
          <mat-label>Device type</mat-label>
          <input
            type="text"
            matInput
            formControlName="deviceType"
            minlength="2"
            maxlength="50"
            required
          />
          <mat-error>{{ deviceTypeErr() }}</mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="device-width" appearance="outline">
				<mat-label>Vendor</mat-label>
				<input type="text" matInput formControlName="vendor"  required />
				<mat-error>Vendor is required</mat-error>
			</mat-form-field> -->

        <!-- <mat-form-field class="device-width" appearance="outline">
				<mat-label>Version</mat-label>
				<input type="text" matInput formControlName="version"  required />
				<mat-error>Version is required</mat-error>
			</mat-form-field> -->

        <mat-form-field
          class="device-width"
          appearance="outline"
          class="fieldWidth"
        >
          <mat-label>Device Description</mat-label>
          <input
            type="text"
            matInput
            formControlName="deviceDescription"
            minlength="3"
            maxlength="500"
            required
          />
          <mat-error>{{ deviceDecErr() }}</mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="device-width" appearance="outline">
				<mat-label>status</mat-label>
				<mat-error>Status is required</mat-error>
				<mat-select formControlName="status"  required>
					<mat-option *ngFor="let status of statuslist" [value]="status.value">
						{{ status.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field> -->
      </div>
    </mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="10px" class="divbutton">
      <button
        mat-flat-button
        class="rpm-save-button"
        [disabled]="!deviceTypeEditForm.valid || isSubmitted"
      >
        Update
      </button>
    </div>
  </form>
</mat-card-content>
