.main-disease{
.close-button {
    cursor: pointer;
}
.mat-form-field {
    width: 260px;
}
.mat-card-content {
    // margin: 10px;
    margin-bottom: 0px;
}
.form-clas{
    margin-top: 10px !important;
}
.mat-dialog-content {
    
    overflow: hidden; 
  
}
}
