<div class="rpm-module-management">
  <app-navigation-bar (backEvent)="backToDevice()"></app-navigation-bar>
  <div class="log-book-main">
    <div class="logBook-header">
      <div class="header-text">
        <span class="text1"> Device Code: </span>
        <span class="text2"> 987426 </span>
      </div>
    </div>
    <div class="logbook-content">
      <div class="contentStart">
        <div class="contentleft">
          <div class="profileDetails">
            <div>
              <img width="36" height="36" src="assets/img/profile.png" />
            </div>
            <div class="profileName">
              <span class="name"> Shridhar Vernekar </span>
              <span class="designation"> Clinic Admin </span>
            </div>
          </div>
          <div class="description">Assigned the device to Sagar Hospitals</div>
        </div>
        <div class="contentright">
          <span> 20/03/2023, 11:20 AM </span>
        </div>
      </div>
    </div>
  </div>
</div>
