<span class="close-button" title="Close" (click)="dialogRef.close()">
  <img src="assets/svg/cancel.svg" alt="" />
</span>
<span mat-dialog-title class="module-form-title">{{
  data.add ? "New Device" : "Update Device"
}}</span>
<mat-divider class="module-divider"></mat-divider>

  <!-- <form [formGroup]="addEditMemberForm"
                    [class.error]="!addEditMemberForm.valid && addEditMemberForm.touched"> -->
  <form
    [formGroup]="addEditDevice"
    class="org-form-div"
    (ngSubmit)="onSubmit()"
  >
    <h2 mat-dialog-title></h2>
    <!-- <mat-dialog-content [formGroup]="addEditDevice"> -->
    <div class="form-div">
      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Device Model No</mat-label>
        <mat-select
          formControlName="deviceModelNo"
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
          required
        >
          <mat-option
            (click)="getModelId(type.deviceModelId)"
            *ngFor="let type of deviceModels"
            [value]="type.deviceModelId"
            >{{ type.deviceModelName }}
          </mat-option>
        </mat-select>
        <mat-error>Device Model No. is required</mat-error>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Device Code</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Device Code"
          minlength="3"
          maxlength="30"
          formControlName="deviceCode"
          [readonly]="addEditDevice.get('assignStatus')?.value === 'ASSIGNED'"
          required
        />
        <mat-error *ngIf="!addEditDevice.valid && addEditDevice.touched">{{
          getDeviceCodeError()
        }}</mat-error>
      </mat-form-field> -->

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Device Type</mat-label>
        <mat-select
          formControlName="deviceName"
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
          required
          readonly
        >
          <mat-option
            *ngFor="let type of deviceTypeList"
            [title]="type?.deviceType.length > 30 ? type?.deviceType : ''"
            [value]="type.id"
            >{{
              type?.deviceType.length > 30
                ? (type?.deviceType | slice : 0 : 30) + "..."
                : type?.deviceType
            }}
          </mat-option>
        </mat-select>
        <mat-error>Device Type is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Vendor Name</mat-label>
        <mat-select
          formControlName="vendorId"
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
          required
          readonly
        >
          <mat-option
            *ngFor="let type of vendorList"
            [title]="type?.vendorName.length > 30 ? type?.vendorName : ''"
            [value]="type.id"
            >{{
              type?.vendorName.length > 30
                ? (type?.vendorName | slice : 0 : 30) + "..."
                : type?.vendorName
            }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!addEditDevice.valid && addEditDevice.touched">{{
          getVendorNameError()
        }}</mat-error>
        <!-- <mat-error>Vendor name is required</mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Connectivity</mat-label>
        <mat-select
          formControlName="connectivity"
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
          required
        >
          <mat-option
            *ngFor="let val of connectivityValues"
            [value]="val.toLowerCase()"
            >{{ val }}</mat-option
          >
        </mat-select>
        <mat-error>Connectivity is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>IMEI / Serial Number</mat-label>
        <input
          matInput
          autocomplete="off"
          appAlphabetNumericOnly
          type="text"
          minlength="5"
          maxlength="20"
          formControlName="imeinumber"
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
          required
        />
        <mat-error *ngIf="!addEditDevice.valid && addEditDevice.touched">{{
          getIMEIErr()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Procurement Date *</mat-label>
        <input
          matInput
          autocomplete="off"
          [matDatepicker]="picker"
          formControlName="procurementDate"
          fxFles="20%"
          [min]="minDate"
          [max]="tomorrow"
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Procurement Date is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Version</mat-label>
        <input
          matInput
          type="number"
          autocomplete="off"
          minlength="1"
          maxlength="5"
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
          formControlName="deviceVersion"
          required
        />
        <mat-error>{{ getVersionErr() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Currency</mat-label>
        <mat-select
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
          formControlName="currency"
        >
          <mat-option value="USD"> USD </mat-option>
          <mat-option value="INR"> INR </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Amount</mat-label>
        <!-- <mat-icon matPrefix>$</mat-icon> -->
        <input
          type="number"
          step="0.01"
          matInput
          autocomplete="off"
          maxlength="5"
          onKeyPress="if(this.value.length==5) return false;"
          formControlName="price"
          [disabled]="
            data.assignStatus === 'ASSIGNED_HOS' ||
            data.assignStatus === 'ASSIGNED_PAT'
          "
        />
        <!-- <mat-error *ngIf="!addEditDevice.valid && addEditDevice.touched">{{
          getAmountErr()
        }}</mat-error> -->
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Category</mat-label>
        <mat-select
          placeholder="Device Type"
          formControlName="deviceName"
          [disabled]="data.assignStatus === 'ASSIGNED'"
          required
        >
          <mat-option
            *ngFor="let type of deviceTypeList"
            [value]="type.id
            "
            >{{ type.deviceType }}
          </mat-option>
        </mat-select>
        <mat-error>Device Vendors is required</mat-error>
      </mat-form-field> -->

      <mat-form-field
        appearance="outline"
        class="fieldWidth"
        *ngIf="addEditDevice.controls['assignStatus']"
      >
        <mat-label>Status</mat-label>
        <!-- <mat-select placeholder="Select one" type="text" id="status" formControlName="assignStatus" [disabled]="addEditDevice.controls['assignStatus'].value==='UNASSIGNED'" required> -->

        <mat-select
          placeholder="Select one"
          type="text"
          id="status"
          formControlName="assignStatus"
          required
        >
          <!-- <mat-option *ngIf="addEditDevice.controls['assignStatus'].value==='ASSIGNED'" value="ASSIGNED" disabled>ASSIGNED </mat-option> -->
          <mat-option *ngFor="let a of status" [value]="a.value"
            >{{ a.status }}
          </mat-option>
          <!-- <mat-option
            *ngIf="
              data.assignStatus === 'ASSIGNED_HOS' ||
              data.assignStatus === 'ASSIGNED_PAT'
            "
            value="AVAILABLE_CH"
            >UNASSIGNED
          </mat-option> -->
          <!-- <mat-option value="AVAILABLE_CH">AVAILABLE </mat-option>
        <mat-option value="DAMAGED">DAMAGED </mat-option> -->
        </mat-select>
        <mat-error>Status is required</mat-error>
      </mat-form-field>
      <!-- </mat-dialog-content> -->
    </div>
    <div fxLayout="row" fxLayoutGap="10px" class="divbutton">
      <!-- <button [disabled]="!addDeviceForm.AddEditDeviceComponent.valid" mat-raised-button>Save New Member</button> -->
      <button
        mat-flat-button
        class="rpm-save-button"
        *ngIf="!submitted"
        [disabled]="addEditDevice.invalid || submitted"
      >
        {{ data.add ? "Save" : "Update" }}
      </button>
      <!-- <button mat-raised-button (click)="resetCreateDeviceForm()">Reset</button> -->
    </div>
  </form>

