.name{
    color: #424242;

font-size: 14px;

font-weight: 400;
padding-top: 10px;
padding-bottom: 10px;
}
.module-form-title{
    font-weight: 700;
    color: #5E7E9B;
}
.primary-img{
    place-self: center;
    padding-left: 10px;
}
.close-button{
    cursor: pointer;
}
.content-div{
    max-height: 8em;
    overflow: auto;
}