.hide-pagination-element {
  display: none;
}

.example-container.mat-elevation-z8 {
	max-height: 1000px;
	height: 504px;
	overflow: auto;
	box-shadow: none;
}
@media only screen and (min-device-width: 1800px) and (max-device-width: 1920px) and (orientation: landscape) {
	.example-container.mat-elevation-z8 {
	  overflow-x: auto;
	  // margin-top: 35px;
	  max-height: 1000px !important;
	  height: 820px !important;
	  // overflow-y: scroll;
	  // overflow-x: scroll;
	}
	.show-pagination{
        width: 86.5% !important;
      }
}