.input-text {
	margin-left: 35px;
	margin-top: 10px;
}
.download-text {
	margin: 20px;
	margin-left: 40px;
}
.close-button {
    cursor: pointer;
}
.rpm-upload-button {
	width: 100px;
	height: 43px;
	border-radius: 8px;
	background-color: #006595;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	color: #ffffff;
	letter-spacing: 0.3px;
	margin-left: 110px;
	text-align: center;
}
.rpm-dialog {
	overflow: hidden;
}
