.myStaffMain {

  .left-section {
    width: 538px;
    height: 376px;
    background: #ffffff;
    border: 1px solid #9c9eb5;
    border-radius: 4px;
    // margin-top: 10px;
  }

  .right-section {
    width: 390px;
    height: 376px;
    // margin-top: 10px;
    background: #ffffff;
    border: 1px solid #9c9eb5;
    border-radius: 4px;
    overflow: auto;
  }

  .search-div-staff {
    padding: 10px;
  }

  .global-search-staff {
    width: 33.6vw;
    height: 37px;

    background: #d4e1f6;
    border: 1px solid #c2d2ec;
    border-radius: 8px;
  }

  .un-map {
    margin-right: 5px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  .container {
    height: 41vh;
    overflow: auto;
    overflow-x: hidden;
  }

  .provider-names {
    width: 33vw;
    height: 37px;
    border: 1px solid #c2ffe4;
  }

  .doc-name {
    position: relative;
    top: 8px;
    left: 10px;
  }

  .add-action {
    position: relative;
    bottom: 8px;
    right: 10px;
    color: #52b204;
    cursor: pointer;
  }

  .tick-icon {
    position: relative;
    bottom: 6px;
    right: 10px;
  }

  .selected-facility-names {
    width: 25.4vw;
    height: 37px;
    border: 1px solid #c2ffe4;
  }

  .no-mapped {
    display: flex;
    justify-content: center;
    margin-top: 22vh;
  }

  input {
    padding: 10px;
    font: inherit;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    // padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    box-sizing: content-box;
  }
}

.mat-select-panel .mat-primary {
  min-width: calc(100% + 23px);
  position: relative;
  left: 1.9vw;
}






// .searchIcon{
//   position: relative;
//   left: 34em;
//   top: -2.3em;
//   cursor: pointer;
// }

.heading-left-section {
  text-align: left;
  width: 56.6%;
  // top: 5px;
  // margin-left: 12px;
  color: #676767;
  font-size: 14px;
}

.heading-right-section {
  text-align: left;
  width: 40%;
  color: #676767;
  font-size: 14px;
  // position: relative;
  // top: 5px;
  // margin-left: -40px;
}

.no-records {
  display: flex;
  justify-content: center;
  margin-top: 16vh;
}







@media only screen and (min-device-width: 1660px) and (max-device-width: 1800px) and (orientation: landscape) {
  .left-section {
    width: 538px;
    height: 33em;
  }

  .provider-names {
    width: 29vw;
  }

  .right-section {
    width: 390px;
    height: 33em;
  }
}