<div class="doctor">
  <div style="cursor: pointer; z-index: 10" fxLayout="row" fxLayoutAlign="end">
    <img
      style="cursor: pointer; z-index: 100"
      src="assets/svg/cancel.svg"
      alt=""
      title="Close"
      (click)="dialogRef.close()"
    />
  </div>
  <div>
    <form
      [formGroup]="resetForm"
      class="login100-form validate-form p-l-55 p-r-55"
      autocomplete="disabled"
      (ngSubmit)="onSubmit()"
      *ngIf="!mailSend"
    >
      <div class="m-b-10">
        <h3 class="card-title">Reset Password</h3>
      </div>
      <div class="m-b-30 card-info">
        <p>Please enter your old and new password to reset.</p>
      </div>

      <div style="position: relative; left: -2.4vw">
        <div
          class="wrap-input100 validate-input m-b-10"
          data-validate="Please enter oldPassword"
        >
          <mat-hint>Old Password *</mat-hint>
          <div fxLayout="row">
            <input
              class="input100"
              [type]="oldFieldTextType ? 'text' : 'password'"
              name="oldPassword"
              autocomplete="new-password"
              formControlName="existingPassword"
              [ngClass]="{
                'is-invalid': submitted && fields.oldPassword?.errors
              }"
              minlength="8"
              maxlength="15"
            />
            <img
              [src]="oldFieldTextType ? showEyeSrc : hideEyeSrc"
              class="eye-icon"
              (click)="toggleFieldTextType('old')"
              alt=""
            />
          </div>
          <mat-error
            *ngIf="
              resetForm.controls['existingPassword'].touched &&
              resetForm.controls['existingPassword'].invalid &&
              resetForm.controls['existingPassword'].hasError('required')
            "
            >Old Password is required</mat-error
          >
          <mat-error
            *ngIf="
              !resetForm.controls['existingPassword'].valid &&
              resetForm.controls['existingPassword'].touched &&
              resetForm.controls['existingPassword'].hasError('minlength')
            "
            >Enter minimum 8 characters</mat-error
          >
        </div>

        <div
          class="wrap-input100 validate-input m-b-10"
          data-validate="Please enter new password"
        >
          <mat-hint>New Password *</mat-hint>
          <div fxLayout="row">
            <input
              class="input100"
              [type]="newFieldTextType ? 'text' : 'password'"
              [autocomplete]="false"
              name="newPassword"
              (keyup)="snackbarService.text_change($event, 'new')"
              formControlName="newPassword"
              [ngClass]="{
                'is-invalid': submitted && fields.newPassword?.errors
              }"
              minlength="8"
              maxlength="15"
            />
            <img
              [src]="newFieldTextType ? showEyeSrc : hideEyeSrc"
              class="eye-icon"
              (click)="toggleFieldTextType('new')"
              alt=""
            />
            <img
              src="assets/svg/DashboardIcons/Right Green Icon.svg"
              alt=""
              *ngIf="
                resetForm.get('newPassword').value.length > 1 &&
                snackbarService.validRegex
              "
            />
            <img
              src="assets/svg/DashboardIcons/Cross Red Icon.svg"
              alt=""
              *ngIf="
                resetForm.get('newPassword').value.length > 1 &&
                !snackbarService.validRegex
              "
            />
          </div>
          <mat-error
            *ngIf="
              !resetForm.controls['newPassword'].valid &&
              resetForm.controls['newPassword'].touched &&
              resetForm.controls['newPassword'].hasError('required')
            "
            >New Password is required</mat-error
          >
          <mat-error
            *ngIf="
              !resetForm.controls['newPassword'].valid &&
              resetForm.controls['newPassword'].touched &&
              resetForm.controls['newPassword'].hasError('minlength')
            "
            >Enter minimum 8 characters</mat-error
          >
        </div>

        <div
          class="wrap-input100 validate-input"
          data-validate="Please enter re-enter password"
        >
          <mat-hint>Re-enter New Password *</mat-hint>
          <div fxLayout="row">
            <input
              class="input100"
              [type]="reNewFieldTextType ? 'text' : 'password'"
              name="reNewPassword"
              [autocomplete]="false"
              (keyup)="snackbarService.text_change($event, 'reNew')"
              formControlName="reNewPassword"
              [ngClass]="{
                'is-invalid': submitted && fields.reNewPassword?.errors
              }"
              minlength="8"
              maxlength="15"
            />
            <img
              [src]="reNewFieldTextType ? showEyeSrc : hideEyeSrc"
              class="eye-icon"
              (click)="toggleFieldTextType('reNew')"
              alt=""
            />
            <img
              src="assets/svg/DashboardIcons/Right Green Icon.svg"
              alt=""
              *ngIf="
                resetForm.get('reNewPassword').value.length > 1 &&
                snackbarService.validRegexRenew
              "
            />
            <img
              src="assets/svg/DashboardIcons/Cross Red Icon.svg"
              alt=""
              *ngIf="
                resetForm.get('reNewPassword').value.length > 1 &&
                !snackbarService.validRegexRenew
              "
            />
          </div>
          <mat-error
            *ngIf="
              !resetForm.controls['reNewPassword'].valid &&
              resetForm.controls['reNewPassword'].touched &&
              resetForm.controls['reNewPassword'].hasError('required')
            "
            >Re-enter New Password is required</mat-error
          >
          <mat-error
            *ngIf="
              !resetForm.controls['reNewPassword'].valid &&
              resetForm.controls['reNewPassword'].touched &&
              resetForm.controls['reNewPassword'].hasError('minlength')
            "
            >Enter minimum 8 characters</mat-error
          >
        </div>

        <br />
        <br />
      </div>
      <div class="container-login100-form-btn m-b-15">
        <button type="submit" class="login100-form-btn">Reset Password</button>
      </div>
      <div class="m-t-12">
        <div class="card-note">
          1. Password should be a mix of alphabets with a minimum of 1 upper
          case letter [A-Z]
          <div class="card-second-para">
            numericals and special characters (e.g.,!,@,#,$,%,^,&,*.) without
            any space in between.
          </div>
        </div>
        <p class="card-note">
          2. The password length should be minimum of 8 characters.
        </p>
      </div>
    </form>
    <!-- <div class="p-l-55 p-r-55 p-t-80 p-b-50" fxLayout="column" fxLayoutAlign="space-arround center" *ngIf="mailSend">
        <div class="m-b-40">
          <img src="assets/svg/DashboardIcons/Thumbs Up Dark Blue.svg" alt="">
        </div>
        <div class="m-b-16 card-info">
          <p>
            Your password has been successfully updated
          </p>
        </div>
        <div class="m-b-16 card-info back" (click)="onLogout()">
            <p>
              Back to login page
            </p>
          </div>
      </div> -->
  </div>
  <!-- </div>
    </div> -->
</div>
<div class="wrap-background-bottom"></div>
