// .main-container {
//   padding: 2%;

//   .setting-icon {
//     padding: 0px 10px;
//     width: 40px;
//     cursor: pointer;
//   }

//   .header-div {
//     margin-left: 3%;
//   }

//   .heading {
//     // font-family: "Helvetica Neue";
//     font-style: normal;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 20px;
//     /* identical to box height */

//     display: flex;
//     align-items: center;

//     color: #424242;
//   }

//   .content-div {
//     padding: 1%;
//     margin-left: 2.5%;
//   }

//   .search-input-div {
//     // width: 544px;
//     // height: 40px;
//     // background: #ffffff;
//     // border-radius: 6px;
//     // margin-top: -9px;
//     width: 544px;

//     ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
//     ::ng-deep .mat-form-field-outline {
//       background: white;
//       border-radius: 5px;
//     }
//   }

//   .card-div {
//     height: 520px;
//     overflow: auto;
//   }

//   .preview-image {
//     width: 100px;
//     height: 100px;
//     border-radius: 7px;
//     margin-top: 36px;
//     cursor: pointer;
//     margin-left: 10px;
//   }

//   .no-tickets {
//     text-align: center;
//   }

//   .edit-ticket {
//     // margin-right: 10px;
//     margin-left: 55%;
//   }

//   .minus-icon {
//     position: relative;
//     top: -3.5vh;
//     right: 1vw;
//     cursor: pointer;
//   }

//   .card-content {
//     width: 520px;
//     height: 139px;
//     background: #ffffff;
//     border-radius: 4px;
//     margin-left: 11px;
//     margin-top: 10px;
//   }

//   .head-title {
//     // font-family: "Helvetica Neue";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 151.19%;
//     width: 245px;
//     color: #424242;
//     padding: 15px;
//     word-wrap: break-word;
//   }

//   .head-description {
//     width: 468px;
//     height: 42px;
//     // font-family: "Helvetica Neue";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 151.19%;
//     padding: 15px;
//     margin-top: -32px;
//     word-wrap: break-word;
//     /* or 21px */

//     color: #676767;
//   }

//   .ticket-id-div {
//     padding: 15px;
//   }

//   .ticket-date {
//     width: 120px;
//     height: 18px;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 151.19%;
//     color: #676767;
//     margin-right: 12px;
//   }

//   .ticket-id {
//     width: 190px;
//     height: 21px;
//     // font-family: "Helvetica Neue";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 151.19%;

//     /* or 21px */

//     color: #676767;
//   }

//   .ticket-status-completed {
//     width: 72px;
//     height: 21px;
//     // font-family: "Helvetica Neue";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 151.19%;

//     text-align: right;

//     color: #01cd74;
//   }

//   .ticket-status-assigned {
//     width: 72px;
//     height: 21px;
//     // font-family: "Helvetica Neue";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 151.19%;

//     text-align: right;

//     color: #7878f7;
//   }

//   .ticket-status-pending {
//     width: 72px;
//     height: 21px;
//     // font-family: "Helvetica Neue";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 151.19%;

//     text-align: right;

//     color: #ffc107;
//   }

//   .create-support {
//     width: 100%;
//     height: 592px;
//     background: #ffffff;
//     border-radius: 10px;
//     margin-top: 13px;

//     .new-ticket-text {
//       // font-family: "Helvetica Neue";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 16px;
//       line-height: 20px;
//       padding: 25px;
//       display: flex;
//       align-items: center;

//       color: #424242;
//     }

//     .ticket-title {
//       width: 685px;

//       ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
//       ::ng-deep .mat-form-field-outline {
//         background: white;
//         border-radius: 5px;
//       }

//       margin-left: 2%;
//       height: 65px;
//     }

//     .ticket-desc {
//       width: 685px;

//       ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
//       ::ng-deep .mat-form-field-outline {
//         background: white;
//         border-radius: 5px;
//       }

//       ::ng-deep .mat-form-field-flex {
//         height: 100px;
//       }

//       margin-left: 2%;
//       height: 100px;
//     }
//   }

//   .file-input {
//     width: 100px;
//     height: 100px;
//     margin-top: 35px;
//     margin-left: 28px;
//     cursor: pointer;
//     background: #e1fff2;
//     border: 1px dashed #a3e8ca;
//     box-sizing: border-box;
//     border-radius: 7px;
//     transition: transform 0.2s ease-out;

//     .upld-pres {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       color: #01cd74;
//       font-weight: 400;
//       font-size: 16px;
//     }

//     .pres-upload-label {
//       justify-content: center;
//     }
//   }

//   .close-icon {
//     position: relative;
//     right: 35px;
//     top: 4px;
//   }

//   .img-div {
//     margin-bottom: 0px;
//     margin-top: 20px;
//     display: flex;
//     justify-content: center;
//   }

//   .file {
//     opacity: 0;
//     width: 0.1px;
//     height: 0.1px;
//     position: absolute;
//     display: none;
//   }

//   .buttons {
//     margin-top: 20%;
//     float: right;
//     margin-right: 26px;

//     .cancel-button {
//       background-color: white;
//       color: #01cd74;
//       // border: 1px solid #2196F3;
//       border: #01cd74 1px solid;
//       border-radius: 10px;
//       font-size: 12px;
//       outline: none;
//       // width: 12vh;
//       // height: 5vh;
//     }
//   }
// }

// @media only screen and (min-device-width: 768px) and (max-device-width: 1279px) and (orientation: landscape) {
//   .cont-sub-div{
//     margin-right: 0 !important;
//   }
//   .main-container {
//     .create-support {
//       .ticket-title {
//         width: 41vw;
//         margin-left: 2%;
//         height: 65px;
//       }

//       .ticket-desc {
//         width: 41vw;
//         margin-left: 2%;
//         height: 100px;
//       }
//     }
//   }
// }
// @media only screen and (min-device-width: 1366px) and (max-device-width: 1500px) and (orientation: landscape) {
//   .main-container .card-div {
//     height: 65vh;
//   }
//   .main-container .create-support .ticket-title{
//     width: 46vw;
//   }
//   .main-container .create-support .ticket-desc{
//     width: 46vw;
//   }
//   .main-container .buttons{
//     margin-top: 7%;
//   }
//   .main-container .create-support{
//     height: 76vh;
//   }
// }
::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.user-support-main {
  .userSupport-module-management {
    height: 44em;
    .mat-tab-class {
      margin-top: 10px;
      margin-left: 14px;
    }

    .mat-tab-body-content {
      overflow: hidden !important;
    }

    ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
      color: white;
      background-color: #006595;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: transparent;
    }

    // .mat-tab-group.mat-primary .mat-ink-bar,
    // .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    //   background-color: white;
    // }

    ::ng-deep.mat-tab-header {
      border-bottom-color: #adcad8 !important;
    }

    ::ng-deep .mat-ink-bar {
      background-color: #1569a1 !important;
    }

    ::ng-deep.mat-tab-label {
      padding: 0px 0px !important;
      margin-left: -23px;
      color: #7a7a7a;
      font-weight: 400;
      // opacity: 0.2;
    }

    // ::ng-deep.mat-paginator-range-actions {
    //   justify-content: center;
    //   margin-top: 23px !important;
    // }

    .tickets-box {
      // width: 743px;
      height: 106px;
      background: #ecfffa;
      border: 1px solid #efefff;
      border-radius: 9px;
      // margin-left: 23px;
      margin-top: 5px;
      padding: 16px;
      cursor: pointer;
    }

    .tickets-box-main-div-1 {
      margin-top: 10px;
    }

    .close-ticket-btn {
      cursor: pointer;
      width: 102px;
      height: 37px;
      background: #ffffff;
      border: 1px solid #52b204;
      border-radius: 6px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #52b204;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .escalate-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 126px;
      height: 37px;
      background: #52b204;
      border-radius: 6px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      cursor: pointer;
    }

    .ticketSummary {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      /* or 286% */

      color: #424242;
    }

    .search-form {
      position: fixed;
      margin-left: 32.5%;
    }

    .hide-pagination {
      display: none;
    }

    // .show-pagination {
    //   width: 98.7%;
    // }
    ::ng-deep .mat-form-field {
      height: 40px !important;
    }

    .ticketDescription {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 151.19%;
      display: flex;
      align-items: center;
      color: #676767;
      padding-top: 7px;
    }

    .Ticket-Id {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 151.19%;
      color: #7a7a7a;
      padding-top: 9px;
    }

    .rpm-module-management[_ngcontent-ng-cli-universal-c600] {
      overflow: hidden;
    }

    .Ticket-Id-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    // .tickets-box-main-div-1{

    //     display: flex;
    //     flex-direction: row;
    // }
    .ticket-description-box {
      // width: 665px;
      // min-height: 433px;
      background: #ffffff;
      border: 1px solid #efefff;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 16px;
    }

    .status-box {
      min-width: 90px;
      height: 25px;
      background: #e8f0f6;
      border: 1px solid #d0e2ef;
      border-radius: 4px;
      margin-left: 10px;
      margin-bottom: 10px;
      text-align: center;
      padding-top: 2px;
    }
  }

  .tickets-box-main-div {
    overflow: auto;
    // height: 525px;
    overflow-x: hidden;
    background-color: white;
    padding: 10px;
    flex: 1 0 39%;
    // padding-right: 34px;
  }

  .new-btn {
    margin-top: 7px;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    color: #ffffff;

    width: 124px;
    height: 37px;

    background: #01cd74;
    border-radius: 6px;
  }

  .activity-img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    align-self: center;
  }

  .secondnddivbox {
    overflow-y: auto;
    // height: 539px;

    overflow-x: hidden;
  }

  .ticket-description-box-grey {
    // width: 665px;
    //  height:359px;
    background: #f9f9f9;
    border-radius: 0px 0px 10px 10px;
    padding: 16px;
  }

  .activity-box {
    // width: 633px;
    height: 102px;
    background: #ffffff;
    border: 0.5px solid #878787;
    box-shadow: 0px 2px 10px rgba(44, 45, 50, 0.05);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
  }

  .global-search {
    padding: 10px;
    width: 525px;
    height: 37px;
    margin-top: 10px;
    background: #d4e1f6;
    border: 1px solid #c2d2ec;
    border-radius: 8px;
  }

  .selected2 {
    width: 4px;
    height: 110px;
    background: #0047b6;
    transform: matrix(-1, 0, 0, 0.93, -15.98, -19);
    border-radius: 0 100px 100px 0;
  }

  .selected {
    background-color: #ffffff !important;
    border: 1px solid #01cd74 !important;
  }

  .download-file-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #4081ff;
  }

  // .form-status{
  //   width: 147px;
  // height: 30px;
  // background: #F8F8F8;
  // border: 1px solid #C9E6F8;
  // border-radius: 4px;
  // }
  // .mat-form-field-appearance-outline .mat-form-field-flex {
  //   padding: 0 0.75em 0 0.75em;
  //   margin-top: -0.25em;
  //   position: relative;
  //   width: 147px;
  //   height: 30px;
  //   background: #F8F8F8;
  //   border: 1px solid #C9E6F8;
  //   border-radius: 4px;

  // }
  .status-choice {
    ::ng-deep .mat-button-wrapper {
      position: relative;
      top: 3px;
    }

    ::ng-deep .mat-select-arrow-wrapper {
      position: relative;
      top: -5px;
      right: 8px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      position: relative;
      top: 1px;
    }

    ::ng-deep .mat-form-field {
      font-size: 14px;
      height: 50px;
      width: 220px;
      margin-bottom: 30px;
      margin: 0px 20px 20px 0px;
      position: relative;
      top: 15px;
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    ::ng-deep .mat-select {
      font-size: 14px;
      position: relative;
      top: 2px;
    }

    ::ng-deep .mat-select-value {
      position: relative;
      top: -5px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
      width: 147px;
      height: 40px;
    }

    ::ng-deep .mat-form-field-prefix,
    .mat-form-field-suffix {
      top: -6px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      border-radius: 5px;
      color: #bbe2fa;
      background-color: #f8f8f8;
    }

    ::ng-deep .mat-form-field-wrapper {
      position: relative;
      bottom: 28px;
    }
  }

  .selected1 {
    margin-left: 424px;
  }

  // .formsearch {
  //   margin-left: 16%;
  // }

  .search-container {
    position: relative;
    width: 294px;
    height: 37px;
    top: 21px;
  }

  .search-field {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px;
    background: #d4e1f6;
    border: 1px solid #c2d2ec;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: #333;
  }

  .desciption-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 151.19%;
    color: #7a7a7a;
  }

  ::ng-deep.mat-tab-label.mat-tab-label-active {
    // font-weight: 900;
    color: #424242;
    font-weight: bold;
    opacity: 1 !important;
  }

  .desciption-heading {
    line-break: anywhere;
  }

  .ticket-hig {
    height: 504px;
  }

  .ticket-hig-nonadmin {
    height: 520px;
  }

  .no-records {
    font-size: 18px;
    display: flex;
    height: 31em;
    align-items: center;
    justify-content: center;
    // background: white;
  }

  .ticket-title {
    color: #424242;
    font-size: 16px;
    padding-top: 3px;
    padding-left: 12px;
    font-weight: 700;
  }

  @media only screen and (min-device-width: 1670px) and (max-device-width: 1800px) and (orientation: landscape) {
    .ticket-hig {
      height: 73vh;
    }

    .ticket-hig-nonadmin {
      height: 69vh;
    }

    .tickets-box {
      width: 54vw;
    }

    .ticket-description-box {
      width: 40vw;
    }

    .ticket-description-box-grey {
      width: 40vw;
    }
  }

  // @media only screen and (min-device-width: 1800px) and (max-device-width: 1920px) and (orientation: landscape) {
  //   .tickets-box-main-div {
  //     overflow: auto;
  //     height: 915px !important;
  //     overflow-x: hidden;
  //   }

  //   .ticket-description-box {
  //     width: 920px;
  //     height: 915px;
  //   }
  // }

  // @media only screen and (min-device-width: 1280px) and (max-device-width: 1511px) and (orientation: landscape) {
  //   .tickets-box {
  //     width: 523px;
  //   }

  //   .ticket-description-box {
  //     width: 502px;
  //   }

  //   .ticket-description-box-grey {
  //     width: 502px;
  //   }

  //   .activity-box {
  //     width: 468px;
  //   }
  // }

  // @media only screen and (min-device-width: 1366px) and (max-device-width: 1500px) and (orientation: landscape) {
  //   .tickets-box-main-div {
  //     height: 65vh;
  //   }

  //   .tickets-box {
  //     width: 548px;
  //   }

  //   .ticket-description-box {
  //     width: 47%;
  //     height: 67vh;
  //   }

  //   .tickets-box-main-div {
  //     width: 50%;
  //     height: 67vh;
  //   }
  // }
  .deviceStatus {
    margin-right: 12px;

    ::ng-deep .mat-form-field {
      height: 40px;
      font-size: 14px;
      padding: 0px;
      width: 127px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      background: #ffffff;
      border-radius: 5px;
    }
  }
}