<!-- <ng-container *ngIf="!hide"> -->
<router-outlet></router-outlet>
<!-- </ng-container> -->
<!-- <ng-container *ngIf="hide">
    <ng-container *ngIf="hide">
        <div fxlayout="row" fxLayoutAlign="center center">
            <mat-card class="mat-elevation-z12" style="position: absolute;top: 30%;height: 30vh; border-radius: 10px;">
                <div fxlayout="row" fxLayoutAlign="center center"
                    style="font-size: 20px; color: red;font-weight: 600;position: relative;top: 50%;">
                    Portrait mode is not supported in web.
                </div>
            </mat-card>
        </div>
    </ng-container>
</ng-container> -->
