.good-div {
  mat-tooltip-component {
    display: none !important;
  }

  .mat-header-cell,
  .mat-cell {
    min-width: 253px !important;
    max-width: 253px !important;
  }

  .notAdmin {
    border-radius: 0px !important;
    padding: 0 !important;

    ::ng-deep .mat-table {
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      max-height: 528px !important;
      min-height: 528px !important;
      width: auto;
    }
  }

  .action-text-position {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -2.7vw;
  }

  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .goodStatus {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .patientBio {
      margin-left: 25px;
    }

    .comments {
      width: 248px;
    }
  }
}
@media only screen and (min-device-width: 1600px) and (max-device-width: 1800px) and (orientation: landscape) {
  .good-div {
    .notAdmin {
      ::ng-deep .mat-table {
        min-height: 47em !important;
        max-height: 47em !important;
      }
    }
  }
}
