.header {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  font-size: 16px;
  color: #424242;
  padding-left: 5px;
  padding-right: 20px;

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #5e7e9b;
  }
}
.title-error {
  margin-top: -11px;
  margin-left: 4px;
}
.fieldWidth {
  width: 100%;
  border-radius: 8px !important;
  margin: 5px 12px -16px -12px;
}

.file-input {
  width: 100px;
  height: 100px;
  cursor: pointer;
  background: #e1fff2;
  border: 1px dashed #a3e8ca;
  box-sizing: border-box;
  border-radius: 7px;
  transition: transform 0.2s ease-out;
  margin-top: 10px;
  .upld-pres {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #01cd74;
    font-weight: 400;
    font-size: 16px;
  }

  .pres-upload-label {
    justify-content: center;
  }
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  display: none;
}

.img-div {
  margin-bottom: 0px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.view-images{
  margin-top: 14px;
}
.preview-image {
  width: 100px;
  height: 100px;
  border-radius: 7px;

}

.minus-icon {
  position: relative;
  top: -6.5vh;
  right: 1vw;
  cursor: pointer;
}

.btn-div {
  display: flex;
  justify-content: end;
  .save-button {
    width: 84px;
    height: 39px;
    background-color: #01cd74;
    border-radius: 8px;
    color: white;
  }
}
