.patientDevice {
  .hide-pagination-element {
    display: none;
  }

  .status {
    padding: 4px 10px;
    gap: 10px;
    color: #fff;
    width: auto;
    height: 25px;
    background: #8bb2d7;
    border-radius: 4px;
  }

  .assign {
    width: auto !important;
    color: #fff;
    padding: 4px 10px;
    // height: 25px;
    background: #8bb2d7;
    border-radius: 4px;
    text-align: center;
  }

  .available {
    width: auto !important;
    color: #fff;
    padding: 4px 10px;
    // height: 25px;
    background: #82d795;
    border-radius: 4px;
    text-align: center;
  }

  .unassign {
    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    padding: 4px 10px;
    width: auto !important;
    // height: 25px;
    color: #fff;
    background: #82d795;
    border-radius: 4px;
    text-align: center;
  }

  .damage {
    padding: 4px 10px;
    width: auto !important;
    // height: 25px;
    color: #fff;
    background: #e48a8a;
    border-radius: 4px;
    text-align: center;
  }

  .assignDiv {
    margin-top: 20px;
  }

  .inputSearch {
    margin-bottom: 14px !important;
    box-sizing: border-box;
    /* position: absolute; */
    width: 100%;
    height: 37px;
    /* left: 925px; */
    /* top: 247px; */
    padding: 10px;
    background: #f6f6f6;
    border: 1px solid #52b204;
    border-radius: 8px;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
    background: none !important;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: none;
  }

  ::ng-deep .mat-card {
    box-shadow: none !important;
  }

  // ::ng-deep .mat-form-field {
  //     // width: -13px;
  //     height: 37px;
  //     background: #F6F6F6;
  //     border: 1px solid #52B204;
  //     border-radius: 8px;
  // }

  // ::ng-deep .mat-form-field-prefix,
  // .mat-form-field-suffix {
  //     top: -5px !important;
  // }
  .iconItem {
    cursor: default;
    position: absolute;
    padding: 26px;
    min-width: 40px;
    right: 30px;
    top: 47px;
  }

  .iconItemcancel {
    cursor: default;
    position: absolute;
    padding: 26px;
    min-width: 40px;
    right: 9px;
    top: 46px;
  }

  .assignColumnName {
    // font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #5e7e9b;
  }

  .assignData {
    // font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
  }

  .selected-item {
    box-sizing: border-box;

    background: #ecfffa;
    border: 1px solid #a3e8ca;
    border-radius: 10px;
  }

  .selected-items {
    width: 483px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selected-items1 {
    width: 483px;
    height: 77px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .assignBtn {
    padding: 10px 24px;
    gap: 8px;
    height: 37px;
    background: #52b204;
    border-radius: 6px;
    color: #fff;
    outline-style: none;
    border: none;
    margin-right: 10px;
  }

  .unassignBtn {
    height: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #676767;
    outline-style: none;
    border: none;
    background: none;
  }

  .upload-bulk-div {
    align-self: center;

    .input-text {
      margin-left: 35px;
      margin-top: 10px;
    }

    .download-text {
      margin: 20px;
      margin-left: 40px;
    }

    .close-button {
      cursor: pointer;
    }

    .button-div {
      display: flex;
      justify-content: end;

      .rpm-upload-button {
        width: 94px;
        height: 37px;
        border-radius: 8px;
        background-color: #52b204;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #ffffff;
        letter-spacing: 0.3px;
        margin-left: 10px;
        text-align: center;
      }

      .rpm-download-button {
        width: 112px;
        height: 37px;
        text-align: center;
        background: #52b204;
        border-radius: 6px;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
      }
    }

    .rpm-dialog {
      overflow: hidden;
    }

    .file {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute;
      display: none;
    }

    .upload-box {
      width: 453px;
      height: 155px;
      margin-bottom: 20px;
      // margin-left: 35px;
      // margin-top: 10px;
      background: #ffffff;
      border: 1px dashed #a2a2a2;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      .upload-box-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .select-file-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #9d9d9d;
      }

      .click-browser-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        letter-spacing: 0.03em;

        color: #52b204;
      }
    }
  }
}

@media only screen and (min-device-width: 1660px) and (max-device-width: 1800px) and (orientation: landscape) {
  .carecoordinate-div {
    max-width: -webkit-fit-content;
    width: 100% !important;
    min-width: 100% !important;
  }

  .admin-div {
    max-width: -webkit-fit-content;
    width: 88% !important;
    min-width: 88% !important;
  }

  .patientDevice {
    .inputSearch {
      width: auto;
    }
  }
}