<div fxLayout="row" fxLayoutGap="5%">
    <div>
        <img src="assets/svg/Red Zone.svg" />

    </div>
    <div>
        <span class="view-text">{{message}}<span class="high-Alert"> (High Alert)</span></span>
        <!-- <div class="view-div">
            <span class="view-text">Symptom: Breathing Difficutly</span>
        </div> -->
        <div class="btn-div" (click)="goToHighAlert()">
            <button mat-flat-button class="Ok-button">
                View
            </button>
        </div>
    </div>

</div>