.text-header {
  font-weight: bold;
  font-size: 25px;
  margin: 4rem 0rem 0rem 3rem;
}

.dashboard-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #424242;
  // padding: 10px;
  display: flex;
  height: 64px;
  display: flex;
  align-items: center;
}

.grid-align {
  height: 93px;
  display: flex;
  gap: 16px;
}

.mainDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.card-design {
  height: 100%;
  min-height: 93px;
  max-height: 93px;
  width: 28.9vw;
  border: 1px solid #eeeeee;
  display: flex;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  background: #1a5eba;
  border-radius: 12px;
}

.card-content {
  display: flex;
  justify-content: center;
  // padding-top: 2.4rem;
}

.cImg {
  width: 50px !important;
}

.card-img {
  height: 60px;
  width: 60px;
  background-color: #e1fff2;
  // margin: 18px 0px 0px 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.total-patient-div {
  background: #1a5dbc;
  border-radius: 10px 10px 0px 0px;

  .total-patient {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #d2e5ff;
    text-align: center;
    padding: 12px;
  }
}

.graph-card {
  height: 490px;
  width: 100%;
  // margin: 0.5rem;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #eeeeee;

  .bar-chart {
    position: relative;
    // top: -1vh;
    height: 311px;
    width: 1153px;
  }
}

.noDataFoundText {
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 18%;
  position: revert;
}

.example-container.mat-elevation-z8 {
  overflow: auto;
  height: 54vh;
  width: 20rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rpm-module-management {
  // overflow: hidden;
  padding: 0 16px;
}

canvas {
  width: 1000px !important;
  height: 600px !important;
}

.ticket-card {
  height: 500px;
  width: 500px;
  margin-left: 2rem;
  margin-right: 1rem;
  border-radius: 10px;
  overflow-y: scroll;
}

.graph-content {
  display: flex;
  position: relative;
  // top: -23vh;
  gap: 1rem;
}

.list-content {
  display: flex;
}

.btnstyle {
  background-color: lightgreen;
  margin-left: 6rem;
  height: 30px;
  padding-bottom: 5px;
  width: 50px;
  padding-top: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home-icon {
  font-size: 40px;
  padding-top: 1rem;
  padding-left: 1rem;
  color: black;
}

.home-overview {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 14px;
  //  flex-direction: column;
}

.home-overview h2 {
  margin: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  // text-decoration-line: underline;
  color: #ffffff;
}

.Onboardin-maing-div {
  display: flex;
  justify-content: space-between;
}

.Onboarding-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #424242;
}

.dropdown-div {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    background: #E1EDFF;
    border: 1px solid #D1D1E1;
    border-radius: 6px;
    height: 30px;
  }

  ::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    height: 32px;
  }

  ::ng-deep .mat-select-value {
    position: relative;
    top: -4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #676767;
  }
}

.tabs-div {
  .mat-tab-body-content {
    overflow: hidden !important;
  }

  ::ng-deep .mat-tab-labels {
    height: 28px;
    display: flex;
    align-items: center;
    // width: 90px;
  }

  ::ng-deep.mat-tab-label {
    min-width: 90px !important;
  }

  ::ng-deep .mat-tab-list {
    padding: 5px;
  }

  ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #55748f;
    background: #ffffff;
    border-radius: 6px;
    height: 28px;
    opacity: 1;
  }

  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent;
  }
}

.tabs-div {
  background: #B8DCF4;
  // border: 1px solid #d1d1e1;
  border-radius: 6px;
}

.home-overview p {
  color: #e3e3e3;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 8px 0;
  // margin: auto;
  // margin-top: 28px;
  // position: relative;
  // left: 29px;
}

.ticket-heading {
  font-weight: bold;
  font-size: 15px;
  color: black;
  // padding-top: 4rem;
  // margin-bottom: -10px;
}

.ticket-para {
  font-size: 13px;
  color: black;
  // padding-bottom: 2rem;
}

.list-details {
  width: 75%;
}

.dashboard-list {
  margin-bottom: 1rem;
}

.card-group-home {
  padding: 0px;
  padding-bottom: calc(1 * ((9% - 0.75px) * 1) + 0px + 0px) !important;
}

.Card-title {
  // padding-top: calc((15% - 0.75px) * 1 + 0px) !important;
  height: 8em;
  padding-top: calc((8% - 3.75px) * 1 + 0px) !important;
}

.mat-list-item {
  height: auto !important;
  padding: 20px;
  margin-top: 10px;

  .mat-list-item-content {
    margin-top: 5px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: landscape) {
  .card-design {
    // width: 215px;
    padding-right: 2px;
    border: 1px solid #eeeeee;
    box-shadow: none;
  }

  .grid-align {
    // top: -6vh;
  }

  .home-overview h2 {
    margin-left: -5px;
  }

  .home-overview p {
    font-size: 12px;
    // left: 15px;
    // margin-top: 0;
  }

  // .graph-card {
  //   position: relative;
  //   top: 6vh;
  //   height: 490px;
  //   width: 100vw;
  //   left: -1vw;
  // }

  .card-img {
    height: 60px;
    width: 60px;
    background-color: #e1fff2;
    // margin: 18px 0px 0px 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1400px) and (orientation: landscape) {
  .grid-align {
    position: relative;
    // top: -10vh;
  }

  .graph-content {
    display: flex;
    position: relative;
    // top: -23vh;
  }

  .example-container.mat-elevation-z8 {
    height: 61vh;
  }
}

@media only screen and (min-device-width: 1670px) and (max-device-width: 1800px) and (orientation: landscape) {
  .example-container.mat-elevation-z8 {
    height: 58vh !important;
  }

  .graph-card {
    height: 43em;
  }
}