<app-devices *ngIf="hasPermissions === false" (closeDialog)="close()"></app-devices>
<div class="video-call-section" *ngIf="hasPermissions === true">
  <div class="expand-collapse-section">
    <button mat-icon-button (click)="toggleSize()" class="minimize-icon">
      <mat-icon *ngIf="compress">fullscreen</mat-icon>
      <mat-icon *ngIf="!compress">fullscreen_exit</mat-icon>
    </button>
  </div>
  <div class="video-call-grid">
    <div class="timer-section" [style.display]="compress ? 'none':'block'">
      <div class="remote-user-data">
        <p>
           {{ (this.videoStateService.remoteParticipantName$ | async)?.length > 15 ?
    (this.videoStateService.remoteParticipantName$ | async)?.slice(0, 15) + '...' :
    this.videoStateService.remoteParticipantName$ | async }}
          <br>
          <span>
            <app-timer [start]="startTimer || !this.participants.isAlone" #timer [showTimerControls]="false">
            </app-timer>
          </span>
        </p>
      </div>
    </div>
    <div class="participant-section">

      <div *ngIf="(this.videoStateService.roomState$ | async) === 'INITIATED'" class="intiated">
        <div class="alone-info-flex">
          <div class="alone-text" [fxHide]="compress">
            <h3>Please wait while the video call is getting {{ this.videoStateService.roomState$ | async | titlecase}}
            </h3>
          </div>
          <div class="alone-text" [fxHide]="compress">
            <span>Waiting for the meeting room!</span>
          </div>
        </div>
      </div>
      <div [fxHide]="!compress" style="width: 150px;">
        <p style="width: 275px;">
          <span style="padding: 16px;">
            <app-timer [start]="startTimer || !this.participants.isAlone" #timer [showTimerControls]="false">
            </app-timer>
          </span>
          <!-- <span class="remote-patientName">{{ this.videoStateService.remoteParticipantName$ | async }}</span> -->
          <span class="remote-patientName" *ngIf="this.videoStateService.remoteParticipantName$ | async as remoteName">
            {{ remoteName.length <= 15 ? remoteName : remoteName.slice(0, 15) + '...' }}
          </span>
        </p>
      </div>
      <app-camera #camera [style.display]="(!activeRoom || !compress) ? 'none' : 'block'"></app-camera>
      <app-participants #participants (leaveRoom)="onLeaveRoom($event)"
        (participantsChanged)="onParticipantsChanged($event)" [style.display]="!!activeRoom ? 'block' : 'none'"
        [activeRoomName]="!!activeRoom ? activeRoom.name : null" [compressed]="compress"></app-participants>
      <div [ngClass]="compress?'compresses-btn':'participant-section-toolbar'" *ngIf="!!activeRoom">

        <div class="action-button" fxLayout="row">
          <button mat-fab class="primary-btns" (click)="muteAndUnmuteAudio()" color="primary"
            *ngIf="!this.participants.isAlone">
            <mat-icon *ngIf="!muteAudio" title="Mute">mic</mat-icon>
            <mat-icon *ngIf="muteAudio" title="Unmute">mic_off</mat-icon>
          </button>
          <button mat-fab class="primary-btns" (click)="muteAndUnmuteVideo()" color="primary"
            *ngIf="!this.participants.isAlone">
            <mat-icon *ngIf="!muteVideo" title="Turn video off">videocam</mat-icon>
            <mat-icon *ngIf="muteVideo" title="Turn video on">videocam_off</mat-icon>
          </button>

          <button mat-fab class="secondary-btn" (click)="onLeaveRoom(true)">
            <mat-icon title="End call">call_end</mat-icon>
          </button>
        </div>
      </div>

    </div>
    <div class="preview-section" [style.display]="compress ? 'none':'block'">
      <app-settings #settings (settingsChanged)="onSettingsChanged($event)"></app-settings>
    </div>
  </div>
</div>