<div class="limiter">
  <div class="toolbar">
    <div class="forgot-toolbar">
      <div fxFlex fxLayout fxLayoutAlign="start center" (click)="goToLogin()">
        <div style="cursor: pointer">
          <img
            class="careLogo"
            src="assets/img/Clock Health Logo.png"
            alt="chc"
          />
        </div>
      </div>
      <div class="title-div" style="padding: 5px 20px !important">
        <img src="assets/svg/SECT-logo.svg" alt="SECT-logo" width="50" />
      </div>
    </div>
  </div>
  <div class="container-login100">
    <div class="wrap-login100">
      <form
        class="login100-form validate-form p-l-55 p-r-55 p-t-80 p-b-55"
        autocomplete="disabled"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
        *ngIf="userEmail"
      >
        <!-- <p class="form-labels">Email Id*</p> -->
        <div class="m-b-40">
          <h3 class="card-title">Forgot Password</h3>
        </div>
        <div class="m-b-16 card-info">
          <p>
            <!-- Provide your email address which is associated with the<br /> ClockHealth -->
            Enter the email address associated with your account <br />
            and we will send an email to reset your password.
          </p>
        </div>
        <!-- <div class="wrap-input100 validate-input m-b-50" data-validate="Please enter username">
          <input class="input100" type="text" placeholder="Enter your email address here" formControlName="username"
            autocomplete="new-username" required>
          <span class="focus-input100"></span>
        </div> -->
        <!-- <div class="forgot-password-field"> -->
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Enter your email id</mat-label>
            <!-- <mat-label>Forgot Password</mat-label> -->
            <input matInput type="text" formControlName="username" required />
          </mat-form-field>
          <!-- </div> -->
          <mat-error
            *ngIf="
              !forgotPasswordForm.controls['username'].valid &&
              forgotPasswordForm.controls['username'].touched
            "
            class="matError"
          >
            {{ getErrorEmail() }}
          </mat-error>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" [disabled]="submitted">
            Submit
          </button>
        </div>
        <div class="back-to-login">
          <a
            (click)="goToLogin()"
            style="
              color: #52b204;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            "
            >Back to Login Page</a
          >
        </div>
      </form>
      <div *ngIf="showLoader" class="loader">
        <app-loader [gifBackground]="'whiteBg'"></app-loader>
      </div>
      <div
        class="p-l-55 p-r-55 p-t-80 p-b-55"
        fxLayout="column"
        fxLayoutAlign="space-arround center"
        *ngIf="mailSend"
      >
        <div class="m-b-40">
          <img src="assets/svg/DashboardIcons/Check Mail.svg" alt="" />
        </div>
        <div class="m-b-16 card-info">
          <p>
            An email with the link to reset your password has been sent to your
            <br />
            registered email address. This link is valid for next 10 minutes.
            <br />
            Please check your email account now.
          </p>
        </div>
        <div class="back-to-login">
          <a
            (click)="goToLogin()"
            style="
              color: #52b204;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            "
            >Back to Login Page</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
