@import "../../../../allstyles";
.main-div{
.close-button {
    cursor: pointer;
}


.fieldWidth {
    width: 392px;
    margin: 0px;
    padding-left: 28px;
}

// .rpm-save-button {
//     margin-left: 18rem;
// }

// .module-divider {
//     margin-bottom: 15px !important;
// }
}