.close-button {
    cursor: pointer;
}
.mat-form-field {
    width: 260px;
}
button:disabled{
    opacity: 0.3;
  }
  .mat-dialog-content {
    
    overflow: hidden;
  
}
.fieldWidth {
    width: 270px;
    margin: 5px 14px -6px 4px !important;
}
.mat-flat-button.mat-button-disabled.mat-button-disabled{
    background-color: #52B204;;
}
