@import "../../../variables";

img.profile-image {
  width: 30px;
  height: 30px;
  border: 50%;
}
.profile-name {
  font-size: smaller;
  text-transform: capitalize;
  font-weight: 800;
  color: $tertiary-color;
}
.profile-date {
  font-size: smaller;
  color: $secondary-color;
}

button.notification-button {
  mat-icon {
    font-size: large;
  }
}

.notification-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
