<span class="close-button" title="Close" (click)="dialogRef.close()">
  <img src="assets/svg/cancel.svg" alt="" />
</span>
<span mat-dialog-title class="module-form-title">{{
  data.add && data.add === "add"
    ? "Add Hospital Admin"
    : "Update Hospital Admin"
}}</span>
<mat-divider class="module-divider"></mat-divider>

<form
  [formGroup]="addEditUser"
  (ngSubmit)="onSubmit(addEditUser.value)"
  class="org-form-div"
>
  <h2 mat-dialog-title></h2>
  <mat-dialog-content [formGroup]="addEditUser">
    <!-- <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Role</mat-label>
        <input matInput appAlphabetSpaceOnly autocomplete="off" maxlength="50" formControlName="role" readonly
          required />
     
      </mat-form-field> -->
    <div class="form-div">
      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          autocomplete="disabled"
          appAlphabetSpaceOnly
          maxlength="50"
          formControlName="firstName"
          required
        />
        <mat-error
          *ngIf="
            !addEditUser.controls['firstName'].valid &&
            addEditUser.controls['firstName'].touched
          "
        >
          {{ getErrorfirstName() }}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Middle Name</mat-label>
        <input
          type="text"
          matInput
          appNoFirstSpace
          appAlphabetSpaceOnly
          autocomplete="off"
          maxlength="50"
          formControlName="middleName"
        />
        <mat-error
          *ngIf="
            !addEditUser.controls['middleName'].valid &&
            addEditUser.controls['middleName'].touched
          "
        >
          {{ getErrormiddleName() }}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          appAlphabetSpaceOnly
          autocomplete="off"
          maxlength="50"
          formControlName="lastName"
          required
        />
        <mat-error
          *ngIf="
            !addEditUser.controls['lastName'].valid &&
            addEditUser.controls['lastName'].touched
          "
        >
          {{ getErrorlastName() }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option [value]="val.value" *ngFor="let val of genderList">{{
            val.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Contact Number</mat-label>
        <input
          appNumberCustomValidation
          matInput
          autocomplete="off"
          maxlength="10"
          formControlName="contactNumber"
          required
        />
        <mat-error
          *ngIf="
            !addEditUser.controls['contactNumber'].valid &&
            addEditUser.controls['contactNumber'].touched
          "
        >
          {{ getErrorContactNo() }}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Email</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="emailId"
          maxlength="50"
          [readonly]="checkUserLoggedIn"
          required
        />
        <mat-error
          *ngIf="
            !addEditUser.controls['emailId'].valid &&
            addEditUser.controls['emailId'].touched
          "
        >
          {{ getErrorEmail() }}
        </mat-error>
        <mat-error *ngIf="emailid?.errors?.emailTaken">
          {{ emailid?.errors.emailErrorMsg }}
        </mat-error>
        <mat-hint *ngIf="checkUserLoggedIn">
          Cannot update email as user is already logged in!
        </mat-hint>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="fieldWidth">
				<mat-label>Gender</mat-label>
				<input type="text" placeholder="Pick one" matInput formControlName="gender" [matAutocomplete]="autoGender" required />
				<mat-icon matSuffix>keyboard_arrow_down</mat-icon>
				<mat-autocomplete autoActiveFirstOption #autoGender="matAutocomplete">
					<mat-option *ngFor="let gender of GenderFilteredOptions | async" [value]="gender">
						{{ gender }}
					</mat-option>
				</mat-autocomplete>
				<mat-error>Gender is required</mat-error>
			</mat-form-field> -->

      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Designation</mat-label>

        <input
          matInput
          minlength="2"
          autocomplete="off"
          appAlphabetSpaceOnly
          maxlength="50"
          formControlName="designation"
        />
        <mat-error>{{ getErrorDesignation() }}</mat-error>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="fieldWidth" *ngIf="this.data.add === 'edit'">
				<mat-label>Status</mat-label>
				<input type="text" placeholder="Pick one" matInput formControlName="status" [matAutocomplete]="auto" required />
				<mat-icon matSuffix>keyboard_arrow_down</mat-icon>
				<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
					<mat-option *ngFor="let status of StatusFilteredOptions | async" [value]="status">
						{{ status }}
					</mat-option>
				</mat-autocomplete>
				<mat-error>Status is required</mat-error>
			</mat-form-field> -->

      <!-- <mat-form-field appearance="outline" class="fieldWidth" *ngIf="this.data.add === 'edit'">
        <mat-label>Status</mat-label>
        <mat-select formControlName="userStatus" required>
          <mat-option *ngFor="let statusData of status" [value]="statusData">
            {{ statusData }}
          </mat-option>
        </mat-select>
        <mat-error>Status is required</mat-error>
      </mat-form-field> -->
    </div>
  </mat-dialog-content>
  <div *ngIf="userRole == 'HOSPITAL_USER'" fxLayout="row">
    <div>
      <mat-slide-toggle
        formControlName="provideAccess"
        [checked]="adminAccessBoolean === true"
        (change)="adminAccess($event)"
      >
      </mat-slide-toggle>
    </div>
    <div style="padding-left: 10px">Provide Full Access</div>
  </div>
  <div fxLayout="row" class="divbutton">
    <button
      [disabled]="!addEditUser.valid || submitted"
      mat-flat-button
      class="rpm-save-button"
    >
      {{ data.add && data.add === "add" ? "Save" : "Update" }}
    </button>
  </div>
</form>
