<div class="container">
  <section class="timer-counter-label">
    <div *ngIf="counter" [ngClass]="{blink: !running}">
      <span>{{minutes}}:</span><span>{{seconds}}</span>
    </div>
    <div *ngIf="!counter">
      <span>{{minutes}}:</span><span>{{seconds}}</span>
    </div>
  </section>
  <div class="timer-button-container" *ngIf="showTimerControls">
    <button class="timer-button" (click)="startTimer()">
      {{ startText }}
    </button>
    <button [disabled]='!counter' [ngClass]="{'disabled': !counter}" class="timer-button"
      (click)="lapTimeSplit()">Lap</button>
    <button class="timer-button" (click)="clearTimer()">Clear</button>
    <br>
    <div *ngFor="let lap of laps;let i = index">
      <div> &#9873; <strong>Lap {{i+1}} ::</strong> {{lap}}</div>
      <br>
    </div>
  </div>
</div>
