<div class="mainCall">
  <mat-toolbar class="toolbar-heading">
    <div fxLayout="row" fxFlex="100%">
      <div fxLayout="row" class="header-content">
        <div class="headingCall">
          <img
            src="assets/svg/DashboardIcons/Call Schedule.svg"
            width="24"
            alt=""
          />
          <span class="title">Voice and Video Calls Schedule</span>
        </div>
        <div class="cancel-icon">
          <img
            src="assets/svg/cancel.svg"
            alt=""
            title="Close"
            (click)="drawerToggleClose()"
          />
        </div>
      </div>
    </div>
  </mat-toolbar>
  <div class="inputFields">
    <div class="search-container">
      <div fxLayout="row">
        <span>
          <input
            type="text"
            appAlphabetSpaceOnly
            class="search-input"
            placeholder="Search.."
            name="search"
            (keyup)="getBySearchParams()"
            [(ngModel)]="searchData"
          />
          <!-- <button
            type="submit"
            (click)="getBySearchParams()"
            class="search-btn"
          > -->
          <img
            *ngIf="showSearchCloseIcon"
            (click)="clearSearch()"
            class="close-icon"
            src="assets/img/Call Close.png"
            alt=""
          />
          <!-- </button> -->
        </span>
      </div>
      <!-- <div fxLayout="row">
        <mat-hint class="search-badge" *ngIf="showSearchBadge">
          <span class="close-icon">{{ searchData }}</span>
          <span (click)="cancelSearch()" style="cursor: pointer">
            <img src="assets/svg/Cross Button.svg" alt="" />
          </span>
        </mat-hint>
      </div> -->
    </div>
    <div class="date-picker">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Select a date</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          [(ngModel)]="scheduleDate"
          (dateChange)="changeEvent($event)"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              <span style="color: white">Apply</span>
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field> -->
      <mat-form-field appearance="outline" class="fieldWidth">
        <mat-label>Select date</mat-label>
        <input
          matInput
          [owlDateTime]="dt1"
          [owlDateTimeTrigger]="dt1"
          [(ngModel)]="scheduleDate"
          (ngModelChange)="changeEvent($event)"
          (dateChange)="changeEvent($event)"
          readonly
        />
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
        <img class="calendar-img" src="assets/svg/Calendar Grey.svg" alt="" />
        <mat-error>Date is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="filter-div" *ngIf="!loadRes">
    <mat-tab-group
      animationDuration="0ms"
      mat-align-tabs="start"
      class="filter-tab"
      [(selectedIndex)]="selectedTabIdx"
      (selectedTabChange)="tabChanged($event)"
    >
      <mat-tab [label]="'Scheduled Calls'" class="tableClass">
        <div
          class="example-container mat-elevation-z8"
          *ngIf="selectedTabName === 'INITIATED'"
        >
          <mat-table
            [dataSource]="scheduledCallDataSource"
            [ngClass]="osType === 'Win32' ? 'win-table' : 'mac-table'"
          >
            <ng-container matColumnDef="patientName">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div fxLayout="row">
                  <div style="width: 24px">
                    <img
                      *ngIf="
                        element.callType === 'SCHEDULE_VOICECALL' ||
                        element.callType === 'IMMEDIATE_VOICECALL'
                      "
                      src="assets/svg/DashboardIcons/Call Black.svg"
                      alt=""
                      style="position: relative; left: -0.5vw"
                    />
                    <img
                      *ngIf="
                        element.callType === 'SCHEDULE_VIDEOCALL' ||
                        element.callType === 'IMMEDIATE_VIDEOCALL'
                      "
                      src="assets/svg/DashboardIcons/Video Call Black.svg"
                      alt=""
                      style="position: relative; left: -0.5vw"
                    />
                  </div>
                  <div
                    [title]="
                      element.patientName && element.patientName.length > 13
                        ? element.patientName
                        : ''
                    "
                  >
                    {{
                      element.patientName && element.patientName.length > 13
                        ? (element.patientName | titlecase | slice : 0 : 13) +
                          "..."
                        : (element.patientName | titlecase)
                    }}
                  </div>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="contactNumber">
              <mat-header-cell *matHeaderCellDef
                >Contact Number</mat-header-cell
              >
              <mat-cell *matCellDef="let element">
                {{ element.cellNumber }}
              </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="phoneNo">
              <th mat-header-cell *matHeaderCellDef>Phone No.</th>
              <td mat-cell *matCellDef="let element">
                {{ element.mobileNo ? element.mobileNo : "-" }}
              </td>
            </ng-container> -->

            <ng-container matColumnDef="scheduledDate">
              <mat-header-cell *matHeaderCellDef
                >Schedule Date & Time</mat-header-cell
              >
              <mat-cell *matCellDef="let element">
                {{ element.scheduleDate | date : "d-MM-y hh:mm a" : "UTC" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="duration">
              <mat-header-cell *matHeaderCellDef>Call Duration</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{
                  element.senderCallduration
                    ? element.senderCallduration
                    : "00:00"
                }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{
                  element.scheduleCallStatus === "INITIATED"
                    ? "Scheduled"
                    : element.scheduleCallStatus
                }}
                <!-- <span *ngIf="getStatus(element)">NOT ATTENDED</span> -->
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="action"
                >Actions</mat-header-cell
              >
              <mat-cell *matCellDef="let element" class="action">
                <div class="action_btn" [matMenuTriggerFor]="menu" #menuTrigger>
                  <mat-icon style="cursor: pointer">more_vert</mat-icon>
                </div>
                <mat-menu #menu="matMenu">
                  <div fxLayout="column" fxLayoutGap="10px">
                    <button
                      mat-menu-item
                      fxLayout="row"
                      fxLayoutGap="6px"
                      class="icon-button"
                      *ngIf="element.callType == 'SCHEDULE_VOICECALL'"
                      [disabled]="isDisable(element)"
                      (click)="startAudioCall(element)"
                    >
                      <div>
                        <img
                          src="assets/svg/DashboardIcons/Call Black.svg"
                          alt=""
                          style="width: 18px"
                        />
                      </div>
                      <div>Join voice call</div>
                    </button>
                    <button
                      mat-menu-item
                      fxLayout="row"
                      fxLayoutGap="6px"
                      class="icon-button"
                      *ngIf="element.callType == 'SCHEDULE_VIDEOCALL'"
                      [disabled]="isDisable(element)"
                      (click)="startVideoCall(element)"
                    >
                      <div>
                        <img
                          src="assets/svg/DashboardIcons/Video Call Black.svg"
                          alt=""
                          style="width: 18px"
                        />
                      </div>
                      <div>Join video call</div>
                    </button>
                    <button
                      mat-menu-item
                      fxLayout="row"
                      fxLayoutGap="6px"
                      class="icon-button"
                      [disabled]="
                        isDisableReschedule(element.scheduleDate) ||
                        element.scheduleCallStatus == 'CANCELLED'
                      "
                      (click)="rescheduleCallDialog(element, 'update')"
                    >
                      <div>
                        <img
                          src="assets/svg/DashboardIcons/Call Scheduler.svg"
                          alt=""
                          style="width: 18px"
                        />
                      </div>
                      <div>Reschedule</div>
                    </button>

                    <button
                      mat-menu-item
                      fxLayout="row"
                      fxLayoutGap="6px"
                      class="icon-button"
                      (click)="cancelCall(element)"
                      [disabled]="
                        isDisableReschedule(element.scheduleDate) ||
                        element.scheduleCallStatus == 'COMPLETED' ||
                        element.scheduleCallStatus == 'CANCELLED'
                      "
                    >
                      <div>
                        <img
                          src="assets/svg/DashboardIcons/Cancel Call.svg"
                          alt=""
                          style="width: 18px"
                        />
                      </div>
                      <div>Cancel call</div>
                    </button>
                  </div>
                </mat-menu>
              </mat-cell>
            </ng-container>

            <!-- <mat-icon (click)="editMedication(element)"
                                style="color:#78A1EE;position:relative; left:5vw;cursor: pointer;">create</mat-icon> -->

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <div
            *ngIf="
              scheduledCallDataSource &&
              !scheduledCallDataSource?.length &&
              !loadRes
            "
            class="noRecordsFound"
          >
            No Records Found!
          </div>
        </div>
        <!-- <pagination-controls
          *ngIf="scheduledCallDataSourceInitiated?.length && scheduledCallDataSourceInitiated?.length > 5"
          (pageChange)="callp = $event" class="callpagination" id="callp">
        </pagination-controls> -->
        <mat-paginator
          *ngIf="selectedTabName == 'INITIATED'"
          [ngClass]="
            dataSource?.totalElements < 10
              ? 'hide-pagination-element'
              : 'show-pagination'
          "
          (page)="handlePageEvent($event)"
          [length]="dataSource?.totalElements"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [length]="dataSource?.totalElements"
          [pageSizeOptions]="[10, 25, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-tab>
      <mat-tab [label]="'Completed Calls'">
        <div
          class="example-container mat-elevation-z8"
          *ngIf="selectedTabName === 'COMPLETED'"
        >
          <mat-table
            [dataSource]="scheduledCallDataSource"
            [ngClass]="osType === 'Win32' ? 'win-table' : 'mac-table'"
          >
            <ng-container matColumnDef="patientName">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div fxLayout="row">
                  <div style="width: 24px">
                    <img
                      *ngIf="
                        element.callType === 'SCHEDULE_VOICECALL' ||
                        element.callType === 'IMMEDIATE_VOICECALL'
                      "
                      src="assets/svg/DashboardIcons/Call Black.svg"
                      alt=""
                      style="position: relative; left: -0.5vw"
                    />
                    <img
                      *ngIf="
                        element.callType === 'SCHEDULE_VIDEOCALL' ||
                        element.callType === 'IMMEDIATE_VIDEOCALL'
                      "
                      src="assets/svg/DashboardIcons/Video Call Black.svg"
                      alt=""
                      style="position: relative; left: -0.5vw"
                    />
                  </div>
                  <div
                    [title]="
                      element.patientName && element.patientName.length > 13
                        ? element.patientName
                        : ''
                    "
                  >
                    {{
                      element.patientName && element.patientName.length > 13
                        ? (element.patientName | titlecase | slice : 0 : 13) +
                          "..."
                        : (element.patientName | titlecase)
                    }}
                  </div>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="contactNumber">
              <mat-header-cell *matHeaderCellDef
                >Contact Number</mat-header-cell
              >
              <mat-cell *matCellDef="let element">
                {{ element.cellNumber }}
              </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="phoneNo">
              <th mat-header-cell *matHeaderCellDef>Phone No.</th>
              <td mat-cell *matCellDef="let element">
                {{ element.mobileNo ? element.mobileNo : "-" }}
              </td>
            </ng-container> -->

            <ng-container matColumnDef="scheduledDate">
              <mat-header-cell *matHeaderCellDef
                >Schedule Date & Time</mat-header-cell
              >
              <mat-cell *matCellDef="let element">
                {{ element.scheduleDate | date : "d-MM-y hh:mm a" : "UTC" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="duration">
              <mat-header-cell *matHeaderCellDef>Call Duration</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{
                  element.senderCallduration
                    ? element.senderCallduration
                    : "00:00"
                }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span
                  >{{
                    element.senderCallduration
                      ? (element.scheduleCallStatus | titlecase)
                      : "Not Attended"
                  }}
                </span>
              </mat-cell>
            </ng-container>

            <!-- <mat-icon (click)="editMedication(element)"
                                style="color:#78A1EE;position:relative; left:5vw;cursor: pointer;">create</mat-icon> -->

            <mat-header-row
              *matHeaderRowDef="displayedColumnsCancelled"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumnsCancelled"
            ></mat-row>
          </mat-table>
          <div
            *ngIf="
              scheduledCallDataSource &&
              !scheduledCallDataSource?.length &&
              !loadRes
            "
            class="noRecordsFound"
          >
            No Records Found!
          </div>
        </div>
        <!-- <pagination-controls
          *ngIf="
            FilteredscheduledCallDataSource?.length &&
            FilteredscheduledCallDataSource?.length > 5
          "
          (pageChange)="callpc = $event"
          class="callpagination"
          id="callpc"
        >
        </pagination-controls> -->
        <mat-paginator
          *ngIf="selectedTabName == 'COMPLETED'"
          [ngClass]="
            dataSource?.totalElements < 10
              ? 'hide-pagination-element'
              : 'show-pagination'
          "
          (page)="handlePageEvent($event)"
          [length]="dataSource?.totalElements"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [length]="dataSource?.totalElements"
          [pageSizeOptions]="[10, 25, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-tab>
      <mat-tab [label]="'Cancelled Calls'">
        <div
          class="example-container mat-elevation-z8"
          *ngIf="selectedTabName === 'CANCELLED'"
        >
          <mat-table
            [dataSource]="scheduledCallDataSource"
            [ngClass]="osType === 'Win32' ? 'win-table' : 'mac-table'"
          >
            <ng-container matColumnDef="patientName">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div fxLayout="row">
                  <div style="width: 24px">
                    <img
                      *ngIf="
                        element.callType === 'SCHEDULE_VOICECALL' ||
                        element.callType === 'IMMEDIATE_VOICECALL'
                      "
                      src="assets/svg/DashboardIcons/Call Black.svg"
                      alt=""
                      style="position: relative; left: -0.5vw"
                    />
                    <img
                      *ngIf="
                        element.callType === 'SCHEDULE_VIDEOCALL' ||
                        element.callType === 'IMMEDIATE_VIDEOCALL'
                      "
                      src="assets/svg/DashboardIcons/Video Call Black.svg"
                      alt=""
                      style="position: relative; left: -0.5vw"
                    />
                  </div>
                  <div
                    [title]="
                      element.patientName && element.patientName.length > 13
                        ? element.patientName
                        : ''
                    "
                  >
                    {{
                      element.patientName && element.patientName.length > 13
                        ? (element.patientName | titlecase | slice : 0 : 13) +
                          "..."
                        : (element.patientName | titlecase)
                    }}
                  </div>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="contactNumber">
              <mat-header-cell *matHeaderCellDef
                >Contact Number</mat-header-cell
              >
              <mat-cell *matCellDef="let element">
                {{ element.cellNumber }}
              </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="phoneNo">
              <th mat-header-cell *matHeaderCellDef>Phone No.</th>
              <td mat-cell *matCellDef="let element">
                {{ element.mobileNo ? element.mobileNo : "-" }}
              </td>
            </ng-container> -->

            <ng-container matColumnDef="scheduledDate">
              <mat-header-cell *matHeaderCellDef
                >Schedule Date & Time</mat-header-cell
              >
              <mat-cell *matCellDef="let element">
                {{ element.scheduleDate | date : "d-MM-y hh:mm a" : "UTC" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="duration">
              <mat-header-cell *matHeaderCellDef>Call Duration</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{
                  element.senderCallduration
                    ? element.senderCallduration
                    : "00:00"
                }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span>{{
                  element?.scheduleCallStatus === "CANCELLED"
                    ? "Cancelled"
                    : element.scheduleCallStatus
                }}</span>
              </mat-cell>
            </ng-container>

            <!-- <mat-icon (click)="editMedication(element)"
                                style="color:#78A1EE;position:relative; left:5vw;cursor: pointer;">create</mat-icon> -->

            <mat-header-row
              *matHeaderRowDef="displayedColumnsCancelled"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumnsCancelled"
            ></mat-row>
          </mat-table>
          <div
            *ngIf="
              scheduledCallDataSource &&
              !scheduledCallDataSource?.length &&
              !loadRes
            "
            class="noRecordsFound"
          >
            No Records Found!
          </div>
        </div>
        <!-- <pagination-controls
          *ngIf="
            cancelledscheduledCallDataSource?.length &&
            cancelledscheduledCallDataSource?.length > 5
          "
          (pageChange)="callpcancel = $event"
          class="callpagination"
          id="callpcancel"
        >
        </pagination-controls> -->
        <mat-paginator
          *ngIf="selectedTabName == 'CANCELLED'"
          [ngClass]="
            dataSource?.totalElements < 10
              ? 'hide-pagination-element'
              : 'show-pagination'
          "
          (page)="handlePageEvent($event)"
          [length]="dataSource?.totalElements"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [length]="dataSource?.totalElements"
          [pageSizeOptions]="[10, 25, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="loadRes" class="notes-loader">
    <app-loader [gifBackground]="'whiteBg'"> </app-loader>
  </div>

  <!-- <div class="rpm-module-table-container example-container mat-elevation-z0"> -->

  <!-- </div> -->
</div>
