.alert-main-div {
  mat-tooltip-component {
    display: none !important;
  }

  .mat-header-cell,
  .mat-cell {
    min-width: 253px !important;
    max-width: 253px !important;
  }

  .notAdmin {
    border-radius: 0px !important;
    padding: 0 !important;

    ::ng-deep .mat-table {
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      max-height: 490px !important;
      min-height: 490px !important;
      width: auto;
    }
  }

  .action-text-position {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -3.7vw;
  }

  .winStsPadding {
    padding-right: 75px;
  }

  .macStsPadding {
    padding-right: 0px;
  }

  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .winStsPadding,
    .macStsPadding {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .patientBio {
      margin-left: 19px;
    }
  }

  @media only screen and (min-device-width: 1600px) and (max-device-width: 1800px) {
    .notAdmin {
      ::ng-deep .mat-table {
        max-height: 47em !important;
        min-height: 47em !important;
      }
    }

    .mat-header-cell,
    .mat-cell {
      // min-width: 19em !important;
      // max-width: 19em !important;
    }
  }
}
